.cell {
    width: 100px;
    height: 100px;
    color: #fff;
    border: 1px solid gray;
}

.cell-X {
    background-color: green;
}

.cell-O {
    background-color: blue;
}

.symbol {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.reset-btn {
    padding: 15px 30px;
    margin-top: 10px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.reset-btn:hover {
    cursor: pointer;
}

.reset-btn:active {
    transform: scale(0.9);
}

.winner {
    font-size: 25px;
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
    margin: 15px 0;
}

.show {
    display: block;
}
